<form  *ngIf="AddProductForm"  [formGroup]="AddProductForm" (ngSubmit)="onsubmit()">
    <div class="form-group">
      <label for="productname">Product Name</label>
      <input  type="text" class="form-control" id="productname"  formControlName = "name">
    </div>
    <div class="form-group">
      <label for="size">Size</label>
      <input  type="text" class="form-control" id="size" formControlName = "size">
    </div>
    <div class="form-group">
      <label  for="price">Price</label>
      <input  type="number" class="form-control" id="price" formControlName = "price">
    </div>
    <div class="form-group">
        <label  for="items">Number of Items</label>
        <input  type="number" class="form-control" id="items" formControlName = "items">
      </div>
    <button  type="submit" class="btn btn-primary">{{EditMode? "Update" : "Add"}}</button>
    <button  type="button" class="btn btn-danger" (click)="onCancel()">cancel</button>
  </form>